# HTTP server

server {
  listen ${REVERSE_PROXY_HOST_PORT};
  server_name ${NGINX_SERVER_NAME};

  set $ENV ${APP_ENV};
  if ($ENV = 'docker-local') {
    set $ALLOW_IPS true;
  }

  if ($ALLOW_IPS = 'false') {
    return 403;
  }

  location / {
    proxy_pass http://nuxt-frontend/;
  }
}
