// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// レスポンシブブレークポイントを定義
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-micro: 0.6rem;
$font-small: 0.8rem;
$font-middle: 1.2rem;
$font-nomal: 1.4rem;
$font-large: 1.6rem;
$font-super-large: 2rem;

$font-family-base: "Noto Sans JP";
